@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: black;
}

/* shadcn ui charts */
@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* default shadcn ui */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.App-main {
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0vh 3vw;
  margin-top: 3vh;
}
.hero-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-title {
  font-size: 3vw;
  font-weight: bolder;
  color: white;
}

.hero-time {
  color: white;
  font-size: 1vw;
  padding: 0.2vh 0.5vw;
  border: 1px solid white;
  width: 5.2vw;
  border-radius: 0.2vw;
}

.hero-switch {
  color: aliceblue;
}

.hero-head-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
}

.hero-head-cards div {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2vh 1vw;
  border-radius: 0.5vw;
  width: 20vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.hero-head-cards h2 {
  font-size: small;
  color: whitesmoke;
  font-weight: 500;
}
.hero-head-cards p {
  font-size: 1.5vw;
  font-weight: 900;
}

.chart-tooltip {
  background-color: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(0.5vw);
  color: white;
  width: 10vw;
}

.hero-chart {
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 0.5vw;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2vh;
}
.hero-chart h2 {
  color: white;
  padding: 0vh 1.5vw;
  padding-bottom: 2vh;
  font-weight: 600;
}
